<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.queirozted.projetopgm" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".acitivitys.DetalhePlaceActivity"
            android:label="@string/title_activity_detalhe_place"
            android:parentActivityName=".acitivitys.ListPlaceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.queirozted.projetopgm.acitivitys.ListPlaceActivity" />
        </activity>
    </application>

</manifest>